.button {
  align-items: center;
  background: #000;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  user-select: none;
}

.button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

.button:hover {
  opacity: 0.7;
}

.button > :global(svg) {
  margin-right: 8px;
}