.header {
  border-bottom: 1px solid #eee;
  height: 49px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
}

.title {
  font-size: 16px;
  font-weight: 700;
  padding-left: 15px;
}

.section {
  /* padding-top: 49px; */
  height: 100%;
}

.nav {
  border-top: 1px solid #eee;
  height: 49px;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #fff;
}
